<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'result.css' %}" />
</head>  
<body>
  <header>
    <div class="red"></div>
    <div class="yellow"></div>
    <div class="green"></div>
    <h1>WordCount</h1>
  </header>
  <nav>
    <a href= {% url 'main' %}>main</a>

  </nav>
  <div class="main">
    <div class="popup">
        <div class="header">
            <h2>About</h2>
        </div>
        <div class="about-section">
            <p>
                <h2>안녕하세요</h2>
                워드카운트 서비스입니다.....
            </p>
        </div>
    </div>
  </div>
  
</body>
</html>
