<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>  
<body>
  <header>
    <div class="red"></div>
    <div class="yellow"></div>
    <div class="green"></div>
    <h1>WordCount</h1>
  </header>
  <nav>
    <a href= {% url 'about' %}>&hellip;<br><br>About</a>
  </nav>
  <div class="main">
    <div class="paper">
      <div class="top">
        <div class="left"></div>
        <div class="right"></div>
      </div>
      <form action={% url 'result' %} method='GET'>
        <textarea name="text" placeholder="문장 속 단어 개수를 세어드립니다."></textarea>
        <button type="submit">submit</button>
      </form>
      <div class="bottom">
        <div class="left"></div>
        <div class="right"></div>
      </div>
    </div>
  </div>
  
</body>
</html>